async-timeout==3.0.1
chardet==3.0.4
cycler==0.10.0
discord-pretty-help==1.2.0
discord.py==1.7.3
gdown==3.13.0
matplotlib==3.4.2
numpy==1.19.0
opencv-python==4.5.2.54
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
python-dotenv==0.15.0
requests==2.25.1
six==1.16.0
torch==1.9.0
torchvision==0.10.0
urllib3==1.26.5
